<a href="https://colab.research.google.com/github/omkarmohite123/Tcs_Nqt-programming-questions/blob/main/Tcs_Nqt12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Our hoary culture had several great persons since time immemorial and king vikramaditya’s nava ratnas (nine gems) belongs to this ilk.They are named in the following shloka:
Among these, Varahamihira was an astrologer of eminence and his book Brihat Jataak is recokened as the ultimate authority in astrology. He was once talking with Amarasimha,another gem among the nava ratnas and the author of Sanskrit thesaurus, Amarakosha. Amarasimha wanted to know the final position of a person, who starts from the origin 0 0 and travels per following scheme.

He first turns and travels 10 units of distance
His second turn is upward for 20 units
Third turn is to the left for 30 units
Fourth turn is the downward for 40 units
Fifth turn is to the right(again) for 50 units
… And thus he travels, every time increasing the travel distance by 10 units.

Constraints:

Case 1
Input : 3
Expected Output :-20 20
Case 2
Input: 4
Expected Output: -20 -20
Case 3
Input : 5
Expected Output : 30 -20
Case 4
Input : 7
Expected Output : 90 -20


"""

In [12]:
num=int(input())
start="right"
dis=10
x,y=0,0
for i in range(num):
  if start=="right":
     x+=dis
     start="up"
     dis=dis+10
  elif start=="up":
     y+=dis
     start="left"
     dis=dis+10
  elif start=="left":
     x-=dis
     start="down"
     dis=dis+10
  elif start=="down":
     y-=dis
     start="right1"
     dis=dis+10
  elif start=="right1":
     x+=dis
     start="right"
     dis=dis+10
print(x,y)

3
-20 20