<a href="https://colab.research.google.com/github/omkarmohite123/Tcs_Nqt-programming-questions/blob/main/Tcs_Nqt13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Input #1:

95

92

95

92

90

92

90

92

90



Output:

Trainee Number: 1

Trainee Number: 3



Note: Input should be 9 integer values representing oxygen levels entered in order as 



Round 1: 

Oxygen value of trainee 1

Oxygen value of trainee 2

Oxygen value of trainee 3



Round 2:

Oxygen value of trainee 1

Oxygen value of trainee 2 

Oxygen value of trainee 3



Round 3:

Oxygen value of trainee 1

Oxygen value of trainee 2

Oxygen value of trainee 3



Oxygen must be in the given format as in the above example. For any wrong input, the final output should display “INVALID INPUT”



Input #2:

91

92

45

92

80

90

90

92

90
"""

In [ ]:
T1 = int(0)
T2 = int(0)
T3 = int(0)
count = int(0)
while(count<9):
    x=int(input())
    if(x>=1 and x<=100):
        if(count%3==1):
            T1=T1+x
        elif(count%3==2):
            T2=T2+x
        else:
            T3=T3+x
        count=count+1
    else:
        print("INVALID INPUT")
        exit()
A1 = round(T1/3)
A2 = round(T2/3)
A3 = round(T3/3)
print(A1,A2,A3)
if(A1 <= 70 and A2 <= 70 and A3 <= 70):
    print("All trainees are unfit")
    exit()
if(A1 >= A2 and A1>= A3):
    print("Trainee Number: 1")
if(A2 >= A1 and A2 >= A3):
    print("Trainee Number: 2")
if(A3 >= A1 and A3 >= A2):
    print("Trainee Number: 3")